.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 18px;
    @include tablet {
        font-size: 14px;
        gap: 21px;
    }
    @include mobile {
        font-size: 12px;
        gap: 9px;
    }
}