.footer-social {
    &__title {
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: 8px;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 20px;
        @include tablet {
            font-size: 12px;
            margin-bottom: 16px;
        }
    }
    &__list {
        display: flex;
        gap: 10px;
    }
    &__item {
        width: 24px;
        height: 24px;
    }
    &__link {
        &_vk:hover {
            color: #3b5998;
        }
    }
    &__link {
        &_tg:hover {
            color: #0088cc;
        }
    }
}